In [13]:
#-*- coding:utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

data = pd.read_csv("train.csv")


print("Removing Result Column and setting as target variable")
y = data.pop("Survived")


## Getting the numeric columns
numeric_variables = data.dtypes[data.dtypes != "object"].index
data_N = data[numeric_variables]


#print("Removing Result Column and setting as target variable")
#y = data_N.pop("Survived")

## Numeric Columns with missing value
print("Numeric Columns with missing value",data_N.columns[data_N.isnull().any()])

## Filing the missing value of age
data_N['Age'].fillna(data_N['Age'].median(),inplace=True)

Removing Result Column and setting as target variable
Numeric Columns with missing value Index(['Age'], dtype='object')

c:\python36-32\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [14]:
print("Columns",data.columns)
data.describe()

Columns Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
data_N.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.361582    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.019697    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [16]:
model = RandomForestClassifier(n_estimators=100) ##estimators_
#from sklearn import tree
#model = tree.DecisionTreeClassifier()

In [17]:
model.fit(data_N,y)
print("Accuracy Score",accuracy_score(y, model.predict(data_N)))

Accuracy Score 1.0

In [18]:
data_test = pd.read_csv("test.csv")
data_test_N = data_test[numeric_variables]
data_test_N['Age'].fillna(data_test_N['Age'].median(),inplace=True)
data_test_N = data_test_N.fillna(data_test_N.mean())

c:\python36-32\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [19]:
y_pred = model.predict(data_test_N)

In [20]:
submission = pd.DataFrame({
    "PassengerId": data_test["PassengerId"],
    "Survived": y_pred
})
submission.to_csv("titanic_submission.csv",index=False)